<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MemoMapper">

  	<sql id="search">
  		<trim prefix="where" prefixOverrides="and || or">		
		<if test="search == 'writer'">
			 writer like '%' || #{find} || '%'
		</if>
		<if test="search == 'contents'">
			 contents like '%' || #{find} || '%'
		</if>
		</trim> 
  	</sql>

	<select id="count" resultType="int" parameterType="com.choa.memo.MemoDTO">
		select count(nvl(num,0)) from memo2
		<include refid="search"></include>
	</select>
	<select id="list" resultType="com.choa.memo.MemoDTO" parameterType="com.choa.util.ListInfo" >
		select * from
		(select rownum R, M.* from
		(select * from memo2
		<include refid="search"></include>
		 order by num desc) M)
		where R between #{startRow} and #{lastRow} 
	</select>
	<select id="view" resultType="com.choa.memo.MemoDTO" parameterType="java.lang.Integer">
		select * from memo2 where num=#{num}
	</select>
	
	<insert id="write" parameterType="com.choa.memo.MemoDTO" >
		insert into memo2
		values (memo2_seq.nextval, #{writer}, #{contents}, sysdate)
	</insert>
	
	<update id="update" parameterType="com.choa.memo.MemoDTO">
		update memo2 set contents=#{contents}, reg_date=sysdate where num=#{num}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete memo2 where num=#{num}
	</delete>

  </mapper>
